<div class="week-section">
  <app-day-view
    class="day-odd"
    [day]="schedule.monday"
    [weekday]="eDay.Monday">
  </app-day-view>

  <app-day-view
    class="day-even"
    [day]="schedule.tuesday"
    [weekday]="eDay.Tuesday">
  </app-day-view>

  <app-day-view
    class="day-odd"
    [day]="schedule.wednesday"
    [weekday]="eDay.Wednesday">
  </app-day-view>

  <app-day-view
    class="day-even"
    [day]="schedule.thursday"
    [weekday]="eDay.Thursday">
  </app-day-view>

  <app-day-view
    class="day-odd"
    [day]="schedule.friday"
    [weekday]="eDay.Friday">
  </app-day-view>

  <app-day-view
    class="day-even"
    [day]="schedule.saturday"
    [weekday]="eDay.Saturday">
  </app-day-view>

  <app-day-view
    class="day-odd"
    [day]="schedule.sunday"
    [weekday]="eDay.Sunday">
  </app-day-view>
</div>
