<div class="week-section">
  <app-day-view
    class="day-odd"
    [day]="monday"
    [weekday]="eDay.Monday">
  </app-day-view>

  <app-day-view
    class="day-even"
    [day]="tuesday"
    [weekday]="eDay.Tuesday">
  </app-day-view>

  <app-day-view
    class="day-odd"
    [day]="wednesday"
    [weekday]="eDay.Wednesday">
  </app-day-view>

  <app-day-view
    class="day-even"
    [day]="thursday"
    [weekday]="eDay.Thursday">
  </app-day-view>

  <app-day-view
    class="day-odd"
    [day]="friday"
    [weekday]="eDay.Friday">
  </app-day-view>

  <app-day-view
    class="day-even"
    [day]="saturday"
    [weekday]="eDay.Saturday">
  </app-day-view>

  <app-day-view
    class="day-odd"
    [day]="sunday"
    [weekday]="eDay.Sunday">
  </app-day-view>
</div>
